Connected Services/ServiceReferenceWCF/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebGymTrivelloniBattaglioli.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebGymTrivelloniBattaglioli.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PersonaModel">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClienteModel" nillable="true" type="tns:ClienteModel" />
  <xs:complexType name="PersonaModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data_nascita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sesso" type="tns:definizioneSesso" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaModel" nillable="true" type="tns:PersonaModel" />
  <xs:simpleType name="definizioneSesso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M" />
      <xs:enumeration value="F" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="definizioneSesso" nillable="true" type="tns:definizioneSesso" />
</xs:schema>