Connected Services/ServiceReferenceWCF/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58900/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:58900/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="InserisciCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_fiscale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data_nascita" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserisciClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAvailableContractsResult" nillable="true" type="q1:ArrayOfContractDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContractToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="codice_fiscale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContractToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContractToClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaPersonalTrainerNelDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaPersonalTrainerNelDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CercaPersonalTrainerNelDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlreadyRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_fiscale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlreadyRegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlreadyRegisteredResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvalidLogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvalidLogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvalidLogInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q2:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActiveContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codice_fiscale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserActiveContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetUserActiveContractResult" nillable="true" type="q3:ContractDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaClientiAssociatiAlTrainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_fiscale_trainer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CercaClientiAssociatiAlTrainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CercaClientiAssociatiAlTrainerResult" nillable="true" type="q4:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedeUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_fiscale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedeUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSchedeUtenteResult" nillable="true" type="q5:ArrayOfSchedaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciSchedaNelDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durata" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserisciSchedaNelDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserisciSchedaNelDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaUtilizzoSchede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_fiscale_trainer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_fiscale_cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiornaUtilizzoSchedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AggiornaUtilizzoSchedeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OttieniIdUtimaSchedaInserita">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OttieniIdUtimaSchedaInseritaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OttieniIdUtimaSchedaInseritaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiNuovaAssegnazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_fiscale_trainer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cod_fiscale_cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idScheda" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiNuovaAssegnazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AggiungiNuovaAssegnazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExerciseToCardGym">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_scheda" type="xs:int" />
        <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num_ripetizioni" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="tempo_recupero" type="q6:duration" />
        <xs:element minOccurs="0" name="commento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="immagine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExerciseToCardGymResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewExerciseToCardGymResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OttieniEserciziAssociatiAllaScheda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_scheda" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="lista_esercizi" nillable="true" type="q7:ArrayOfEsercizioDTO" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="lista_caratteristiche" nillable="true" type="q8:ArrayOfCaratteristicaEsercizioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OttieniEserciziAssociatiAllaSchedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OttieniEserciziAssociatiAllaSchedaResult" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="lista_esercizi" nillable="true" type="q9:ArrayOfEsercizioDTO" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="lista_caratteristiche" nillable="true" type="q10:ArrayOfCaratteristicaEsercizioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>