Connected Services/ServiceReferenceWCF/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58900/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58900/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58900/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_InserisciCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InserisciCliente" />
  </wsdl:message>
  <wsdl:message name="IService_InserisciCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserisciClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAvailableContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableContracts" />
  </wsdl:message>
  <wsdl:message name="IService_GetAvailableContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddContractToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContractToClient" />
  </wsdl:message>
  <wsdl:message name="IService_AddContractToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContractToClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CercaPersonalTrainerNelDB_InputMessage">
    <wsdl:part name="parameters" element="tns:CercaPersonalTrainerNelDB" />
  </wsdl:message>
  <wsdl:message name="IService_CercaPersonalTrainerNelDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:CercaPersonalTrainerNelDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AlreadyRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:AlreadyRegistered" />
  </wsdl:message>
  <wsdl:message name="IService_AlreadyRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlreadyRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConvalidLogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvalidLogIn" />
  </wsdl:message>
  <wsdl:message name="IService_ConvalidLogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvalidLogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmail" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserActiveContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserActiveContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserActiveContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserActiveContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CercaClientiAssociatiAlTrainer_InputMessage">
    <wsdl:part name="parameters" element="tns:CercaClientiAssociatiAlTrainer" />
  </wsdl:message>
  <wsdl:message name="IService_CercaClientiAssociatiAlTrainer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CercaClientiAssociatiAlTrainerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetSchedeUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedeUtente" />
  </wsdl:message>
  <wsdl:message name="IService_GetSchedeUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedeUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InserisciSchedaNelDB_InputMessage">
    <wsdl:part name="parameters" element="tns:InserisciSchedaNelDB" />
  </wsdl:message>
  <wsdl:message name="IService_InserisciSchedaNelDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserisciSchedaNelDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AggiornaUtilizzoSchede_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaUtilizzoSchede" />
  </wsdl:message>
  <wsdl:message name="IService_AggiornaUtilizzoSchede_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiornaUtilizzoSchedeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_OttieniIdUtimaSchedaInserita_InputMessage">
    <wsdl:part name="parameters" element="tns:OttieniIdUtimaSchedaInserita" />
  </wsdl:message>
  <wsdl:message name="IService_OttieniIdUtimaSchedaInserita_OutputMessage">
    <wsdl:part name="parameters" element="tns:OttieniIdUtimaSchedaInseritaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AggiungiNuovaAssegnazione_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiNuovaAssegnazione" />
  </wsdl:message>
  <wsdl:message name="IService_AggiungiNuovaAssegnazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiNuovaAssegnazioneResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="InserisciCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InserisciCliente" message="tns:IService_InserisciCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InserisciClienteResponse" message="tns:IService_InserisciCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAvailableContracts" message="tns:IService_GetAvailableContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAvailableContractsResponse" message="tns:IService_GetAvailableContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContractToClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddContractToClient" message="tns:IService_AddContractToClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddContractToClientResponse" message="tns:IService_AddContractToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CercaPersonalTrainerNelDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CercaPersonalTrainerNelDB" message="tns:IService_CercaPersonalTrainerNelDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CercaPersonalTrainerNelDBResponse" message="tns:IService_CercaPersonalTrainerNelDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlreadyRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AlreadyRegistered" message="tns:IService_AlreadyRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AlreadyRegisteredResponse" message="tns:IService_AlreadyRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvalidLogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConvalidLogIn" message="tns:IService_ConvalidLogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConvalidLogInResponse" message="tns:IService_ConvalidLogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserByEmail" message="tns:IService_GetUserByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByEmailResponse" message="tns:IService_GetUserByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserActiveContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserActiveContract" message="tns:IService_GetUserActiveContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserActiveContractResponse" message="tns:IService_GetUserActiveContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CercaClientiAssociatiAlTrainer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CercaClientiAssociatiAlTrainer" message="tns:IService_CercaClientiAssociatiAlTrainer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CercaClientiAssociatiAlTrainerResponse" message="tns:IService_CercaClientiAssociatiAlTrainer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedeUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSchedeUtente" message="tns:IService_GetSchedeUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSchedeUtenteResponse" message="tns:IService_GetSchedeUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserisciSchedaNelDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InserisciSchedaNelDB" message="tns:IService_InserisciSchedaNelDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InserisciSchedaNelDBResponse" message="tns:IService_InserisciSchedaNelDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiornaUtilizzoSchede">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AggiornaUtilizzoSchede" message="tns:IService_AggiornaUtilizzoSchede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AggiornaUtilizzoSchedeResponse" message="tns:IService_AggiornaUtilizzoSchede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OttieniIdUtimaSchedaInserita">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/OttieniIdUtimaSchedaInserita" message="tns:IService_OttieniIdUtimaSchedaInserita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OttieniIdUtimaSchedaInseritaResponse" message="tns:IService_OttieniIdUtimaSchedaInserita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiNuovaAssegnazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AggiungiNuovaAssegnazione" message="tns:IService_AggiungiNuovaAssegnazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AggiungiNuovaAssegnazioneResponse" message="tns:IService_AggiungiNuovaAssegnazione_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserisciCliente">
      <soap:operation soapAction="http://tempuri.org/IService/InserisciCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableContracts">
      <soap:operation soapAction="http://tempuri.org/IService/GetAvailableContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContractToClient">
      <soap:operation soapAction="http://tempuri.org/IService/AddContractToClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CercaPersonalTrainerNelDB">
      <soap:operation soapAction="http://tempuri.org/IService/CercaPersonalTrainerNelDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlreadyRegistered">
      <soap:operation soapAction="http://tempuri.org/IService/AlreadyRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvalidLogIn">
      <soap:operation soapAction="http://tempuri.org/IService/ConvalidLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByEmail">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserActiveContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserActiveContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CercaClientiAssociatiAlTrainer">
      <soap:operation soapAction="http://tempuri.org/IService/CercaClientiAssociatiAlTrainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedeUtente">
      <soap:operation soapAction="http://tempuri.org/IService/GetSchedeUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserisciSchedaNelDB">
      <soap:operation soapAction="http://tempuri.org/IService/InserisciSchedaNelDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiornaUtilizzoSchede">
      <soap:operation soapAction="http://tempuri.org/IService/AggiornaUtilizzoSchede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OttieniIdUtimaSchedaInserita">
      <soap:operation soapAction="http://tempuri.org/IService/OttieniIdUtimaSchedaInserita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiNuovaAssegnazione">
      <soap:operation soapAction="http://tempuri.org/IService/AggiungiNuovaAssegnazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:58900/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>